.nav-container{
    background-color: gray;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}