body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
  }
  
  header {
    background-color: #f8f54f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links li {
    text-decoration: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .cart img {
    width: 15px; /* Ajusta el tamaño según sea necesario */
    height: auto;
  }
  