@keyframes brillo {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.8);
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
}

.texto-brillante {
    font-size: 30px; /* Tamaño de la fuente */
    color: #e4cf11; /* Color del texto */
    animation: brillo 10.5s infinite; /* Tiempo y repetición de la animación */
    background-color: Black;
    display: flex; 
    justify-content: center; 
}
