body {
  background-color: black; /* Establece el fondo de la página en negro */
  color: white; /* Opcional: Cambia el color del texto a blanco para que sea legible */
  font-family: Arial, sans-serif; /* Establece una fuente básica */
  
}
